.nav
{
    justify-content: center;
    background-color: transparent;
    position: absolute;
    z-index: 9;
    width: 50%;
    margin: 0 25%
}

.nav-item
{
    padding: 1.25rem 2.5rem
}

.toggle-nav-menu
{
    display: none
}

@media only screen and (min-width: 851px) and (orientation: landscape)
{
    .toggle-nav-menu
    {
        display: block
    }
}
